<!doctype html>
<html lang="id">

<head>
    <title>Web Hosting Indonesia Unlimited & Terbaik - Niagahoster</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Web hosting terbaik di Indonesia dengan fitur keamanan & kecepatan untuk website yang optimal. Harga terjangkau - Diskon up to 75%" />
    <meta name="keywords" content="" />
    <meta property="bb:client_area" content="https://www.niagahoster.co.id/">
    <link rel="shortcut icon" href="https://www.niagahoster.co.id/assets/images/2019/favicon.png">
    <meta name="robots" content="index, follow, noodp">
    <meta name="keywords"
        content="hosting, hosting murah, vps murah, membuat website, web hosting, hosting indonesia, hosting terbaik, web hosting indonesia, hosting terbaik indonesia, hosting dan domain gratis, hosting indonesia terbaik, web hosting terbaik, web hosting murah, hosting murah indonesia, hosting murah unlimited, cloud hosting indonesia, cloud vps indonesia" />
    <meta name="dcterms.subject"
        content="niagahoster, hosting niagahoster, hosting murah niagahoster, vps murah niagahoster, web hosting niagahoster, hosting indonesia niagahoster, hosting terbaik niagahoster, web hosting indonesia, hosting terbaik indonesia, hosting dan domain gratis, hosting indonesia terbaik, web hosting terbaik, web hosting murah, hosting unlimited niagahoster, cloud hosting niagahoster, cloud vps niagahoster" />
    <meta name="dcterms.type" content="Service" />
    <meta name="dcterms.language" content="id" />
    <meta property="fb:app_id" content="212913279095490" />
    <meta property="og:url" content="https://www.niagahoster.co.id/" />
    <meta property="og:title" content="Web Hosting Indonesia Terbaik, Murah & Unlimited - Niagahoster" />
    <meta property="og:description"
        content="Web hosting terbaik di Indonesia dengan fitur keamanan &amp; kecepatan untuk website yang optimal. Harga terjangkau - Diskon up to 75%" />
    <meta property="og:image"
        content="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/bb-uploads/tinymce/media/logo-niagahoster-1615379570.png" />
    <meta property="og:site_name" content="Niagahoster" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Niagahoster" />
    <meta name="twitter:title" content="Web Hosting Indonesia Terbaik, Murah & Unlimited - Niagahoster" />
    <meta name="twitter:description"
        content="Web hosting terbaik di Indonesia dengan fitur keamanan &amp; kecepatan untuk website yang optimal. Harga terjangkau - Diskon up to 75%" />
    <meta name="twitter:image"
        content="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/bb-uploads/tinymce/media/logo-niagahoster-1615379570.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light pt-0 border-bottom">
        <div class="container d-flex align-items-center header-contact">
            <div class="d-flex flex-row align-items-center bookmark">
                <div><span class="mdi mdi-tag text-white"></span></div>
                <small>Gratis Ebook 9 Cara Cerdas Menggunakan Domain </small> 
                <small><a href="#">[x]</a></small>
            </div>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="#">
                        <span class="mdi mdi-phone"></span> 0274-5305505
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <span class="mdi mdi-forum"></span> Live Chat
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <span class="mdi mdi-account-circle"></span> Member Area
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="./assets/images/logo.png" alt="logo" width="220" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto d-flex flex-fill justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Domain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Afiliasi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Promo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pembayaran</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="php-hosting border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>PHP Hosting</h2>
                    <p class="subtitle">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Solusi PHP untuk performa query yang
                            lebih cepat
                        </li>
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Konsumsi memori yang lebih rendah
                        </li>
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP
                            5.6, PHP 7
                        </li>
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Fitur enkripsi IonCube dan Zend Guard
                            Loaders
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="img-fluid" src="./assets/svg/illustration banner PHP hosting-01.svg"
                        alt="illustration banner PHP hosting-01" width="480" />
                </div>
            </div>
        </div>
    </div>
    <div class="container php-feature">
        <div class="row d-flex flex-row justify-content-center align-items-end">
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/illustration-banner-PHP-zenguard01.svg"
                    alt="illustration-banner-PHP-zenguard01">
                <p>PHP Zend Guard Loader</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon-composer.svg" alt="icon-composer">
                <p>PHP Composer</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon-php-hosting-ioncube.svg" alt="icon-php-hosting-ioncube">
                <p>PHP IonCube Loader</p>
            </div>
        </div>
    </div>
    <div class="container hosting-price">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Paket Hosting Singapura yang Tepat</h2>
                <p class="text-center subtitle">Diskon 40% + Domain dan SSL Gratis untuk Anda</p>
            </div>
        </div>
        <div class="row align-items-start list">
            {% for price in prices %}
            <div class="col-md-3 col-sm-6 text-center pricing {% if price['best'] %} best {% endif %}">
                {% if price['best'] %}
                <div class="ribbon"><span>BEST SELLER!</span></div>
                {% endif %}
                <h3 class="title">{{ price['title'] }}</h3>
                <div class="price">
                    <p><s>{{ price['price_old'] }}</s></p>
                    <p class="new">{{ price['price'] | raw }}</p>
                </div>
                <p class="user"><b>{{ price['user'] }}</b> Pegguna Terdaftar</p>
                <ul class="list-unstyled info">
                    {% for info in price['info'] %}
                    <li>{{ info | raw }}</li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn {% if price['best'] %} btn-primary {% else %} btn-outline-dark {% endif %}">
                    {{ price['button'] }}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container php-limit">
        <div class="row">
            <div class="col">
                <p class="text-center subtitle">Powerful dengan Limit PHP yang Lebih Besar</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-row">
                        <span class="mdi mdi-check-circle text-success"></span>
                        <p class="flex-fill text-center mb-0">max execution time 300s</p>
                    </li>
                    <li class="list-group-item d-flex flex-row bg-light">
                        <span class="mdi mdi-check-circle text-success"></span>
                        <p class="flex-fill text-center mb-0">max execution time 300s</p>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="mdi mdi-check-circle text-success"></span>
                        <p class="flex-fill text-center mb-0">php memory limit 1024 MB</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-row">
                        <span class="mdi mdi-check-circle text-success"></span>
                        <p class="flex-fill text-center mb-0">post max size 128 MB</p>
                    </li>
                    <li class="list-group-item d-flex flex-row bg-light">
                        <span class="mdi mdi-check-circle text-success"></span>
                        <p class="flex-fill text-center mb-0">upload max filesize 128 MB</p>
                    </li>
                    <li class="list-group-item d-flex flex-row">
                        <span class="mdi mdi-check-circle text-success"></span>
                        <p class="flex-fill text-center mb-0">max input vars 2500</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="dashed"></div>
    </div>
    <div class="container hosting-packet">
        <div class="row">
            <div class="col">
                <p class="text-center subtitle">Semua Paket Hosting Sudah Termasuk</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon PHP Hosting_PHP Semua Versi.svg"
                    alt="icon PHP Hosting_PHP Semua Versi" width="60">
                <h3>PHP Semua Versi</h3>
                <p>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon PHP Hosting_My SQL.svg" alt="icon PHP Hosting_My SQL"
                    width="60">
                <h3>MySQL Versi 5.6</h3>
                <p>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon PHP Hosting_CPanel.svg" alt="icon PHP Hosting_CPanel"
                    width="60">
                <h3>Panel Hosting cPanel</h3>
                <p>Kelola website dengan panel canggih yang familiar di hati Anda.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon PHP Hosting_garansi uptime.svg"
                    alt="icon PHP Hosting_garansi uptime" width="60">
                <h3>Garansi Uptime 99.9%</h3>
                <p>Data center yang mendukung kelangsungan website Anda 24/7.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon PHP Hosting_InnoDB.svg" alt="icon PHP Hosting_InnoDB"
                    width="60">
                <h3>Database InnoDB Unlimited</h3>
                <p>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center item">
                <img class="img-fluid" src="./assets/svg/icon PHP Hosting_My SQL remote.svg"
                    alt="icon PHP Hosting_My SQL remote" width="60">
                <h3>Wildcard Remote MySQL</h3>
                <p>Mendukung s/d 25 max_user_connections dan 100 max_connections.</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="dashed"></div>
    </div>
    <div class="framework-laravel">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-center subtitle">Mendukung Penuh Framework Laravel</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <p class="description">Tak perlu menggunakan dedicated server ataupin VPS yang mahal. Layanan PHP hosting murah kami
                        mendukung penuh framework favorit Anda</p>
                    <ul class="list-unstyled description">
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Install Laravel <b>1 klik</b> dengan
                            Softaculous Installer
                        </li>
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Mendukung ekstensi <b>PHP MCrypt, phar,
                                mbstring, json,</b> dan <b>fileinfo.</b>
                        </li>
                        <li>
                            <span class="mdi mdi-check-circle text-success"></span> Tersedia <b>Composer</b> dan <b>SSH</b>
                            untuk menginstal packages pilihan Anda.
                        </li>
                    </ul>
                    <small>Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small>
                    <div class="hosting">
                        <button type="button" class="btn btn-primary">
                            Pilih Hosting Anda
                        </button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <img class="img-fluid" src="./assets/svg/illustration banner support laravel hosting.svg"
                        alt="illustration banner support laravel hosting" width="480" />
                </div>
            </div>
        </div>
    </div>
    <div class="container php-extension">
        <div class="row">
            <div class="col">
                <p class="text-center subtitle">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <ul class="list-unstyled">
                    <li>IcePHP</li>
                    <li>apc</li>
                    <li>apcu</li>
                    <li>apm</li>
                    <li>ares</li>
                    <li>bcmath</li>
                    <li>bcompiler</li>
                    <li>big_int</li>
                    <li>bitset</li>
                    <li>bloomy</li>
                    <li>bz2_filter</li>
                    <li>clamav</li>
                    <li>coin_acceptor</li>
                    <li>crack</li>
                    <li>dba</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="list-unstyled">
                    <li>http</li>
                    <li>huffman</li>
                    <li>idn</li>
                    <li>igbinary</li>
                    <li>imagick</li>
                    <li>imap</li>
                    <li>inclued</li>
                    <li>inotify</li>
                    <li>interbase</li>
                    <li>intl</li>
                    <li>ioncube_loader</li>
                    <li>ioncube_loader_4</li>
                    <li>jsmin</li>
                    <li>json</li>
                    <li>ldap</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="list-unstyled">
                    <li>nd_pdo_mysql</li>
                    <li>oauth</li>
                    <li>oci8</li>
                    <li>odbc</li>
                    <li>opcache</li>
                    <li>pdf</li>
                    <li>pdo</li>
                    <li>pdo_dblib</li>
                    <li>pdo_firebird</li>
                    <li>pdo_mysql</li>
                    <li>pdo_odbc</li>
                    <li>pdo_pgsql</li>
                    <li>pdo_sqlite</li>
                    <li>pgsql</li>
                    <li>phalcon</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12">
                <ul class="list-unstyled">
                    <li>stats</li>
                    <li>stem</li>
                    <li>stomp</li>
                    <li>suhosin</li>
                    <li>sybase_ct</li>
                    <li>sysvmsg</li>
                    <li>sysvsem</li>
                    <li>sysvshm</li>
                    <li>tidy</li>
                    <li>timezonedb</li>
                    <li>trader</li>
                    <li>translit</li>
                    <li>uploadprogress</li>
                    <li>uri_template</li>
                    <li>uuid</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#" class="btn btn-outline-dark">
                    Selengkapnya
                </a>
            </div>
        </div>
    </div>
    <div class="container linux-hosting">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <p class="subtitle">Linux Hosting yang Stabil dengan Teknologi LVE</p>
                <p>
                    SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE
                        CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan
                    <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b>
                    security, <b>Raid-19</b> protection dan auto backup untuk keamanan website PHP Anda.
                </p>
                <div class="button">
                    <button type="button" class="btn btn-primary">
                        Pilih Hosting Anda
                    </button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid" src="./assets/images/Image support.png" alt="Image support" />
            </div>
        </div>
    </div>
    <div class="bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12">
                    <p>Bagikan jika Anda menyukai halaman ini.</p>
                </div>
                <div class="col-md-6 col-sm-12 d-flex flex-row">
                    <div class="d-flex flex-row align-items-center sosmed-share">
                        <div class="d-flex justify-content-center align-items-center icon facebook"><span class="mdi mdi-facebook"></span></div>
                        <div class="d-flex justify-content-center align-items-center count">80k</div>
                    </div>
                    <div class="d-flex flex-row align-items-center sosmed-share">
                        <div class="d-flex justify-content-center align-items-center icon twitter"><span class="mdi mdi-twitter"></span></div>
                        <div class="d-flex justify-content-center align-items-center count">450</div>
                    </div>
                    <div class="d-flex flex-row align-items-center sosmed-share">
                        <div class="d-flex justify-content-center align-items-center icon google-plus"><span class="mdi mdi-google-plus"></span></div>
                        <div class="d-flex justify-content-center align-items-center count">1900</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col d-md-flex flex-row align-items-center help-section">
                    <p class="flex-fill help-text">Perlu <b>BANTUAN?</b> Hubungi Kami: <b>0274-5305505</b></p>
                    <p class="help-text help-dash">|</p>
                    <div class="help-button">
                        <button type="button" class="btn btn-outline-light">
                            <span class="mdi mdi-forum"></span>
                            Live Chat
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h4>HUBUNGI KAMI</h4>
                    <p>
                        0274-5305505 <br />
                        Senin - Minggu <br />
                        24 Jam Nonstop
                    </p>
                    <br />
                    <address>
                        Jl. Selokan Mataram Monjali <br />
                        Karangjati MT I/304 <br />
                        Sinduadi, Mlati, Sleman <br />
                        Yogyakarta 55284
                    </address>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h4>LAYANAN</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Domain</a></li>
                        <li><a href="#">Shared Hosting</a></li>
                        <li><a href="#">Cloud VPS Hosting</a></li>
                        <li><a href="#">Managed VPS Hosting</a></li>
                        <li><a href="#">Web Builder</a></li>
                        <li><a href="#">Keamanan SSL / HTTPS</a></li>
                        <li><a href="#">Jasa Pembuatan Website</a></li>
                        <li><a href="#">Program Affiliasi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h4>SERVICE HOSTING</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Hosting Murah</a></li>
                        <li><a href="#">Hosting Indonesia</a></li>
                        <li><a href="#">Hosting Singapura SG</a></li>
                        <li><a href="#">Hosting PHP</a></li>
                        <li><a href="#">Hosting Wordpress</a></li>
                        <li><a href="#">Hosting Laravel</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h4>TUTORIAL</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Knowledgebase</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Cara Pembayaran</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h4>TENTANG KAMI</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Tim Niagahoster</a></li>
                        <li><a href="#">Karir</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Penawaran & Promo Spesial</a></li>
                        <li><a href="#">Kontak Kami</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h4>KENAPA PILIH NIAGAHOSTER</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Support Terbaik</a></li>
                        <li><a href="#">Garansi Harga Termurah</a></li>
                        <li><a href="#">Domain Gratis Selamanya</a></li>
                        <li><a href="#">Datacenter Hosting Terbaik</a></li>
                        <li><a href="#">Review Pelanggan</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                    <h4>NEWSLETTER</h4>
                    <div class="input-group form-subscribe">
                        <input type="email" class="form-control" placeholder="Email" />
                        <button class="btn btn-primary" type="button">Berlangganan</button>
                    </div>
                    <p class="help-text">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</p>
                </div>
                <div class="col-md-3 col-sm-12 section-share-footer">
                    <h4>&nbsp;</h4>
                    <button type="button" class="btn btn-outline-light footer-share facebook">
                        <span class="mdi mdi-facebook"></span>
                    </button>
                    <button type="button" class="btn btn-outline-light footer-share twitter">
                        <span class="mdi mdi-twitter"></span>
                    </button>
                    <button type="button" class="btn btn-outline-light footer-share google-plus">
                        <span class="mdi mdi-google-plus"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>PEMBAYARAN</h4>
                    <img class="img-fluid" src="./assets/images/bca.png" alt="bca" />
                    <img class="img-fluid" src="./assets/images/mandiri.png" alt="mandiri" />
                    <img class="img-fluid" src="./assets/images/bni.png" alt="bni" />
                    <img class="img-fluid" src="./assets/images/visa.png" alt="visa" />
                    <img class="img-fluid" src="./assets/images/mastercard.png" alt="mastercard" />
                    <img class="img-fluid" src="./assets/images/atm_bersama.png" alt="atm_bersama" />
                    <img class="img-fluid" src="./assets/images/permata.png" alt="permata" />
                    <img class="img-fluid" src="./assets/images/prima.png" alt="prima" />
                    <img class="img-fluid" src="./assets/images/alto.png" alt="alto" />
                    <p class="help-text mt-4">Aktivasi instan dengan e-Payment Hosting dan domain langsung aktif!</p>
                </div>
            </div>
            <div class="d-md-flex justify-content-between footer-copyright">
                <div>
                    <p>Copyright &copy;2016 Niagahoster | Hosting powered by PHP7, CloudLinux, Cloudflare, BitNinja and
                        DC Biznet Technovillage Jakarta</p>
                    <p>Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</p>
                </div>
                <div class="text-right">
                    <a href="#">Syarat dan Ketentuan</a> | <a href="#">Kebijakan Privasi</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>